<div class="center jumbotron">
  <h1>Bienvenue !</h1>
  <h3>
    On adore les gossips. Consulte les potins que nos membres ont partagé, commente-les et ajoute les tiens !
  </h3>
  <%= link_to "Let's bitch!", new_gossip_path, class: "btn btn-lg btn-primary" %>
</div>
