<h1>Liste des Gossips</h1>

<table>

  <thead>
    <th>Gossip</th>
    <th>Lien vers la page</th>
    <th>Nb de commentaires</th>
  </thead>

  <tbody>

    <% @gossips.each do |gossip| %>
    <tr>
      <td> <%= gossip.content %> </td>
      <td> <a href="<%= gossip_path(gossip.id) %>">Voir la page du Gossip</a></td>
      <td align="right"><%= gossip.comments.count %></td>
    </tr>
    <% end %>

  </tbody>

</table>
